######################################################################
# не установлено, т.к. сборка идёт на разных версиях
#[requires]
#python_version = "3.6"
######################################################################

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
jinja2 = "*"
click = "*"
jinja2-ext = "*"
pytoml = "*"
xmltodict = "*"
pyyaml = "*"
